---
layout: default
title: "Awesome, Techsome !"
description: "Describe this nonsense"
tags: [HomePage, Blog, themes, responsive, blog, modern, tech, coding]
comments: true
---



        <div class="mdl-layout__tab-panel is-active" id="overview">
        {% for post in site.posts %}
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          {% if post.layout == "post" or post.layout == "feature-icon"%}
            <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color-text--white">
            {% if post.icon.feature %}
            <i class="material-icons">{{post.icon.feature}}</i>
            {% elsif post.image.feature %}
            <img src="assets/images/{{ post.image.feature }}" alt="{{ post.title }}" style="max-width: 100%" />
            {% endif %}
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>{{post.title}}</h4><span class="mdl-typography--caption-color-contrast">{{ post.date | date: "%B %d, %Y" }}</span> </br>
                <p>
                  {% if post.excerpt %}{{ post.excerpt | strip_html | strip_newlines | truncate: 300 }}{% else %}{{ site.description }}{% endif %}
                </p>
              </div>
              <div class="mdl-card__actions">
                <a href="{{post.url}}" class="mdl-button">{{post.linkText}}</a>
              </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="{{post.url}}">
              <i class="material-icons">share</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="{{post.url}}">
              <li class="mdl-menu__item">Facebook</li>
              <li class="mdl-menu__item" disabled>Twitter</li>
              <li class="mdl-menu__item">LinkedIn</li>
            </ul>
          {% elsif post.layout="text" %}
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <h4>{{post.title}}</h4>
                <p>
                  {% if post.excerpt %}{{ post.excerpt | strip_html | strip_newlines | truncate: 300 }}{% else %}{{ site.description }}{% endif %}
                </p>
              </div>
              <div class="mdl-card__actions">
                <a href="{{post.url}}" class="mdl-button">{{post.linkText}}</a>
              </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="{{post.url}}">
              <i class="material-icons">share</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="{{post.url}}">
              <li class="mdl-menu__item">Facebook</li>
              <li class="mdl-menu__item" disabled>Twitter</li>
              <li class="mdl-menu__item">LinkedIn</li>
            </ul>
          {% endif%}
          </section>
        {% endfor %}
          <!--<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <h4>Technology</h4>
                Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse. Pariatur occaecat nisi laboris tempor laboris eiusmod qui id Lorem esse commodo in. Exercitation aute dolore deserunt culpa consequat elit labore incididunt elit anim.
              </div>
              <div class="mdl-card__actions">
                <a href="#" class="mdl-button">Read our features</a>
              </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">
              <li class="mdl-menu__item">Lorem</li>
              <li class="mdl-menu__item" disabled>Ipsum</li>
              <li class="mdl-menu__item">Dolor</li>
            </ul>
          </section>-->
          <section>
          </section>
        </div>
